# This is an example .flake8 config, used when developing *Black* itself.
# Keep in sync with setup.cfg and pyproject.toml which is used for source packages.

[flake8]
ignore = W503, E203, B950, B011, B904
max-line-length = 100
max-complexity = 18
select = B,C,E,F,W,T4,B9
docstring-convention = google
