# project files
**/.idea

# cache files
**/__pycache__
**/.pytest_cache
# weights files
**/weights

#dicoms
**/dicoms

# test data files
**/temp
**/ex_patient


# ignore local files
libANNlib.dylib
debug_runs.py

# ignore ismrm
**/ismrm_2019_scripts

# ignore runtime generated package scripts
**/._*

# pyscripts
**/py_scripts

# playgrounds
/gui/gui_playground.py

# build files
**/build
**/dist
*.spec